* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.card {
    border: 1px solid black;
    border-radius: 15px;
    margin: 50px 30px;
    width: 325px;
    padding: 10px;
    
    
}

.card img{
    
    height: 400px;
    width: 300px;
    padding: 5px;
}