@charset "UFT-8";

/* Fonte do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variáveis: Cores e fontes */
:root{
    --font-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --font-destaque:"Poppins", sans-serif;
}
/* Formatação Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: var(--font-destaque);
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: 30px;
    
}

.curso h1 {

    font-size: 30px;
    text-align: center;

}

.curso {

    text-align: center center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.curso img {
    height: 200px;
    width: 350px;
}

.container a {

    color: white;
    text-decoration: none;
    padding: 20px 0;
}
