@charset "UFT-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor1:#020659;
    --cor2:#013C8B;
    --cor3:#5CE1E6;
    --cor4:#ACD1F2;
    --cor5:#FFF;

    --font-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --font-destaque:"Poppins", sans-serif;
}

/* ESTILO GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-destaque);
}

body{
    background-color: var(--cor2);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--cor3);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: var(--cor5);
    font-size: 42px;
    text-align: center;
    font-family: var(--font-destaque);

}

h2.titulo span{
    color: var(--cor3);
}

button:hover{
    box-shadow: 0px 0px 8px var(--cor3);
    transform: scale(1.05);
}
/* ESTILO DO CABEÇALHO*/


header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: var(--cor4);
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: var(--cor3);
    transform: scale(1.05);
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.logo{
    height: 80px;
}





/*FIM DA ESTILIZAÇÃO DO CABEÇALHO*/

/*ESTILOS DO TOPO DO SITE*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.foto{
    height: 450px;
    padding-bottom: 20px;
}

.topo-do-site h1{
    color: var(--cor5);
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site span{
    color: var(--cor3);
}

.topo-do-site .txt-topo-site p{
    color: var(--cor5);
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}
.especialidades .especialidades-box{
    color: var(--cor5);
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    width: 400px;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #5ce1e6d0;
}
.especialidades-box i{
    font-size: 70px;
    color: var(--cor3);
}

.especialidades .especialidades-box h3{
    font-size: 38px;
}
.especialidades .especialidades-box p{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 300;
}

/*ESTILO DO SOBRE*/


.foto-sobre{
    height: 500px;
    border-radius: 20px;
}
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: var(--cor5);
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: var(--cor3);
    display: block;
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    height: 60px;
    width: 60px;
    border: 0;
    background-color: var(--cor3);
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px 0 0;
    transition: .2s;
    color: var(--cor1);
}

/* ESTILO PORTFÓLIO */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 20px 10px #02065959;
}

section.portfolio .flex{
    gap: 80px;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-position: 100% 0%;
    background-size: cover;
    transition: 10s;
    border-radius: 30px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overley{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #020649cb;
    border: 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor5);
    opacity: 1;
    transition: 1.5s;
}

.overley:hover{
    opacity: 0;
}

